.img-bg{
    background-image: url(../../assets/imgs/canteiner-img/ai-generated-8464364_1280.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;  
}

.conteiner{
    height: 70%;
    display: flex;
    justify-content: end;
    padding: 0 30px;

}
 h1{
     font-family: "Metal Mania", system-ui;
     color: #fff;
     font-size: 4.5rem;
     text-align: center;
     text-shadow: 2px 2px 2px #000;
}
.conteudo{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, #00c0caac, #7d2be8bc, #86a8e7ad, #91eae4b4);  
    gap: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #ffffffc8;
    padding: 30px;
}
.conteudo img{
    background:#000 ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #000;
    
}
.conteudo img:hover{
    background-color:#00c0ca9f ;
}
.result{
    display: flex;
    height: 100%;
    background-color: #e4dfdfc4;
    justify-content: space-around;
    text-align: center;
    border-radius: 6px;
    color: #141313;
    box-shadow: 1px 1px 8px #000000c8;
    font-family: "Metal Mania", system-ui;
    border: 2px solid #000;
}
.text-result{
    color: #fff;
    grid-column: 1/4;
    font-size: 2rem;
    font-family: "Metal Mania", system-ui;
    text-shadow: 2px 2px 2px #000;
}
.result h2 {
    padding: 20px;
    border-bottom: 2px solid #000000;
    font-size: 1.1rem;
    width: 110px;
    text-align: center;
    
}
.resultado{
    font-size: 2.5rem;
    font-family: "Metal Mania", system-ui;
    text-shadow: none;
    border: none;
    color: #000;
    background-color: transparent;
    box-shadow: none;
    display: block;
    text-align: center;
   
}
.result div {
  
    flex-grow: 1;
    font-family: 'Poppins';
}
.result div div{
    border: none;
    background-color: transparent;
    
   
    
}
.result .line:nth-child(2),
.result .line:nth-child(1){
    border-right: 2px solid #000000;
}
.reset{
    font-size:2rem;
    font-family: "Metal Mania", system-ui ;
    border: none;
    border-radius: 6px;
    grid-column: 1/4;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    
}
.reset:hover{
    transform: scale(1.1);
}
@media (max-width: 1300px){
    .conteudo{
        width: 40%;
    }
    .result h2{
        font-size: 1rem;
        padding: 15px;
        width: 90px;
    }
}
@media (max-width: 1050px){
    .conteudo{
        gap: 20px;
        padding: 15px;
        width: 95%;
        
    }
   
    .conteudo img{
        width: 120px;
        height: 120px;
    }
    .reset{
        font-family: 1rem;
    }
    .text-result #about{
        font-family: 0.9rem;
        font-family: "Metal Mania", system-ui ;
        text-shadow: 2px 2px 2px #000;
        text-align: center;
    }
    .conteiner{
        height: 85%;
        align-items: end;
        justify-content: center;
    }
    .result{
        height: 40%;
    }
    .conteudo{
        top: 34%;
    }
    .img-bg{
        background-size: cover;
    }
    
}