.img-bg{
    background-image: url(../../assets/imgs/canteiner-img/ai-generated-8464364_1280.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.conteiner{
    
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: ;
}
 h1{
     font-family: "Metal Mania", system-ui;
     color: #fff;

     font-size: 4.5rem;
     text-align: center;
}
.conteudo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, #00c0ca50, #7d2be89a, #86a8e7a1, #91eae485);
    margin: 0 auto;
    gap: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #ffffffc8;
    padding: 30px;
}
.conteudo img{
    background:#000 ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #000;
    
}
.conteudo img:hover{
    background-color:#00c0ca9f ;
}
.result{
    
    display: flex;
    height: 100%;
    background-color: #7925e7e0;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
    
    color: #fff;
    box-shadow: 1px 1px 8px #ffffffc8;
    font-family: "Metal Mania", system-ui;
}
.text-result{
    color: #fff;
    justify-self: center;
    align-self: center;
    
    font-size: 2rem;
    font-family: 'Poppins';
}
.result h2 {
    padding: 20px;
    border-bottom: 2px solid #fff;
    
    
}
.result div {
    flex: 1;
}
.result div:nth-child(2),
.result div:nth-child(1){
    border-right: 2px solid #fff;
}
.reset{
    font-size:2rem;
    font-family: "Metal Mania", system-ui ;
    border: none;
    border-radius: 6px;
    grid-column: 1/4;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    
}
.reset:hover{
    transform: scale(1.1);
}